<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  
  
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>

  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

  <script type="text/javascript" src='/static/js/bootstrap.js'></script>

</head>

<body>


{% include "header.html" %}

<div class="container-fluid">
<br>
<button type="button" class="btn btn-success">Buscar Cliente</button>
<br></br>

<h4>Cliente Carla Torres</h4>
	</br>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Clientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Direcciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Telefonos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Contacto</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Email</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel">


  	
		  	<div class="row">

			  		<div class="col-6">

						<div class="row">
							<div class="col-6"><strong>Cliente: </strong></div>
			  				<div class="col-6">Juan Carlos Napri</div>
						</div>
			  			

			  		</div>

			  		<div class="col-6">
			  			 

			  			<div class="row">
							<div class="col-6"><strong>Horario de Disponibilidad: </strong></div>
			  				<div class="col-6">2pm-3pm</div>
						</div>
			  		
			  		</div>
			  			

			 </div>

	  		<div class="row">


	  		<div class="col-6">
	  			
	  			<div class="row">
							<div class="col-6"><strong>DNI: </strong></div>
			  				<div class="col-6">56565656</div>
				</div>

	  		</div>

	  		<div class="col-6">
	  			
	  			<div class="row">
							<div class="col-6"><strong>Fecha de Nacimiento: </strong></div>
			  				<div class="col-6">2017-12-04</div>
				</div>
	  		</div>
	  			
	  		</div>

	  

  		
  		

  </div>
  <div class="tab-pane" id="profile" role="tabpanel">..sas.sccccc</div>
  <div class="tab-pane" id="messages" role="tabpanel">.sas.w22323.</div>
  <div class="tab-pane" id="settings" role="tabpanel">.sssssssssssssss..</div>
</div>


</div>





</body>

</html>

<style type="text/css">
	
	.tab-pane{
		padding: 2em;
		line-height: 2rem;
	}
</style>