
{% include "header.html" %}

<div class="container">

<br>
<h4><i class="fa fa-upload" aria-hidden="true"></i> Importador</h4>
<br>
<div class="row">

  <div class="col-2">


    
    <div class="list-group">
      <a href="#" class="list-group-item active">
        Clientes
      </a>
      <a href="#" class="list-group-item list-group-item-action">Cuentas</a>
 
    </div>

  </div>  
  <div class="col-10">



  <div class="container">

  <h5>Subir excel con datos de de cuentas y sus detalles para importar</h5>
  <br>
  <form>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Año</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3" placeholder="Año">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Mes</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputPassword3" placeholder="Mes">
      </div>
    </div>

       <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Proveedor</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputPassword3" placeholder="Proveedor">
      </div>
    </div>

           <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Cartera</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputPassword3" placeholder="Cartera">
      </div>
    </div>

      <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Eliga un archivo</label>
      <div class="col-sm-10">
        <input type="file" " id="inputPassword3" placeholder="Archivo">
      </div>
    </div>







    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary"><i class="fa fa-upload" aria-hidden="true"></i> Subir</button>
      </div>
    </div>
  </form>
</div>
    
  </div>

</div>

</div>
